# Begin Project
# Begin SubItem "gpce063_diagnostic  Resources"
# Begin Source File
SOURCE=voice\text_01_2.a16
USEPARAM=FALSE
PARAM=
ID=RES_TEXT_01_2_A16
EXPORT=3
# End Source File
# Begin Source File
SOURCE=voice\text_01_3.a16
USEPARAM=FALSE
PARAM=
ID=RES_TEXT_01_3_A16
EXPORT=3
# End Source File
# Begin Source File
SOURCE=voice\text_01_4.a16
USEPARAM=FALSE
PARAM=
ID=RES_TEXT_01_4_A16
EXPORT=3
# End Source File
# Begin Source File
SOURCE=voice\text_01_5.a16
USEPARAM=FALSE
PARAM=
ID=RES_TEXT_01_5_A16
EXPORT=3
# End Source File
# Begin Source File
SOURCE=voice\text_01_6.a16
USEPARAM=FALSE
PARAM=
ID=RES_TEXT_01_6_A16
EXPORT=3
# End Source File
# End SubItem
# End Project
